<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supertool.dspui.dao.zhongpai.FocusMapper">

<select id="getFocusnumByProjectId" resultType="int">
	select count(*) from focus where projectId=#{projectId}
</select>
<select id="getFocusByProjectId" resultType="map">
	select u.*, f.createdate as focusdate,
			(select count(p1.id) from project p1 right join support s on(p1.id=s.projectId) where s.userid=f.userid) as supported,
			(select SUM(r.money) from project p1 right join support s on(p1.id=s.projectId) left join `return` r on (r.id=s.returnid)  where s.userid=f.userid) as money
			 from focus f left join st_user u on (u.UserId=f.userid) where f.projectId=#{projectId}
</select>

<insert id="focus" keyProperty="id">
	insert into focus set projectid=${id}, userid=${userid}, createdate=now();
</insert>

<select id="checkFocusByUserid" resultType="int">
	select count(*) from focus where projectid=${id} and userid=${userid};
</select>

<select id="getCountByPidAndUid" resultType="int">
	select count(*) from focus where projectid=${id} and userid=${userid};
</select>

</mapper>
