<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supertool.dspui.dao.zhongpai.FocusMapper">

<select id="getFocusnumByProjectId" resultType="int">
	select count(*) from focus where projectId=#{projectId}
</select>
<select id="getFocusByProjectId" resultType="map">
	select * from focus where projectId=#{projectId}
</select>

<insert id="focus" keyProperty="id">
	insert into focus set projectid=${id}, userid=${userid}, createdate=now();
</insert>

<select id="checkFocusByUserid" resultType="int">
	select count(*) from focus where projectid=${id} and userid=${userid};
</select>

</mapper>
