<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supertool.dspui.dao.zhongpai.ProjectMapper">

<insert id="donew">
	<selectKey resultType="int" order="AFTER"  keyProperty="id"> 
         select LAST_INSERT_ID()
    </selectKey>
	insert into project set step='0', content='',createdate=now(), createuser=${userId};
</insert>

<select id="selectByStepAndCreateuser" resultType="map">
	select * from project where createuser=${userId} and step=${step} order by id asc;
</select>

<update id="updateBasic" parameterType="map">
	update project set name=#{name}, province=#{province},city=#{city},content=#{content},
	                   video=#{video},paybackintro=#{paybackinfo},money=#{money},day=#{day},
	                   category=#{category},summary=#{summary},step='1',videocode=#{videocode} where id=#{id}
</update>
<update id="updateImage" parameterType="map">
	update project set picture=#{picture} where id=#{projectId}
</update>

<select id="selectCreatedByStepAndCreateuser" resultType="map">
	select * from project where createuser=${userId} and step > 0 order by id asc;
</select>

<select id="selectById" resultType="map">
	select * from project where id=#{projectId};
</select>

<select id="selectByStatus" resultType="map">
	select * from project where status=#{status} and step > 0 order by id asc;
</select>
<update id="submitaudit" parameterType="map">
	update project set realname=#{realname}, sex=#{gender}, qq=#{qq}, phone=#{phone}, auditstatus='1', money=#{money}, day=#{day}  where id=#{id}
</update>

<select id="search" resultType="map">
	select p.* ,
		(select count(t.id) from topic t where t.projectId=p.id and isfirst='1') as topicnum,
		(select count(s.id) from support s where s.projectid=p.id) as supportnum,
		(select count(f.id) from focus f where f.projectid=p.id) as focusnum,
		(select ifnull(SUM(r.money),0) from support s1 left join `return` r on (r.id=s1.returnid)  where s1.projectid=p.id) as totalmoney,
		if(p.status='2', p.begintime, p.starttime) as timeorder
	from project p  where id > 0
	<if test="status == '0'.toString() "> and status in ('2','3','4','5') </if>
	<if test="status == '3'.toString() "> and status='2' </if>
	<if test="status == '4'.toString() "> and status='3' </if>
	<if test="status == '5'.toString() "> and status='4' </if>
	<if test="status == '6'.toString() "> and status='5' </if>
	<if test="status == '1'.toString()"> and recommend='1' </if>
	<if test="status == '2'.toString()"> and classic='1' </if>
	<if test="category != '0'.toString()"> and category=#{category} </if>
	<if test="province!='0'.toString()"> and province=#{province} </if>
	<if test="order=='0'.toString()"> order by id desc; </if>
	<if test="order=='1'.toString()"> order by money desc; </if>
	<if test="order=='2'.toString()"> order by topicnum asc; </if>
	<if test="order=='3'.toString()"> order by supportnum asc; </if>
	<if test="order=='4'.toString()"> order by focusnum asc; </if>
	<if test="order=='5'.toString()"> order by id asc; </if>
	<if test="order=='6'.toString()"> order by timeorder asc; </if>
	
</select>

<select id="selectBySupportUserid" resultType="map">
	select * from project p right join support s on(p.id=s.projectId) where s.userid=${userId};
</select>

<select id="selectByFavoriteUserid" resultType="map">
	select * from project p right join focus f on(p.id=f.projectId) where f.userid=${userId};
</select>

<update id="updateViewtime">
	update project set viewnum=viewnum+1 where id=#{projectId}
</update>

</mapper>
