<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supertool.dspui.dao.zhongpai.TopicMapper">
<select id="getTopicnumByProjectId" resultType="int">
	select count(*) from topic where projectId=#{projectId} and isfirst='1'
</select>
<select id="getTopicByProjectId" resultType="map">
	select * from topic where projectId=#{projectId} and isfirst='1'
</select>
<insert id="add" keyProperty="id">
	insert into topic set title=#{title}, content=#{content}, isfirst=${isfirst},
	                      type=#{category},createdate=now(),projectid=#{projectid},
	                      userid=#{userid},pid=${pid}
</insert>

<select id="getFocusedTopicByUserId" resultType="map">
	select * from topic t right join project p on (t.projectid=p.id) right join focus f on (f.projectid=p.id) where f.userid=#{userid} and isfirst='1'
</select>

<select id="getCreatedTopicByUserId" resultType="map">
	select * from topic t left join project p on (t.projectid=p.id) where t.userid=#{userid} and t.isfirst='1'
</select>

<select id="getCommentedTopicByUserId" resultType="map">
	select DISTINCT t.*  from topic t right join topic t1 on (t1.pid=t.id) where t1.userid=#{userid} and t.isfirst='1'
</select>

</mapper>
